---
Checks: >
  -*,
  bugprone-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-pro-type-vararg,
  misc-*,
  -misc-include-cleaner,
  -misc-use-internal-linkage,
  modernize-*,
  -modernize-use-trailing-return-type,
  performance-*,
  portability-*,
  readability-*,
  -readability-identifier-length
WarningsAsErrors: ''
HeaderFileExtensions:
  - hpp
ImplementationFileExtensions:
  - cpp
HeaderFilterRegex: ''
SystemHeaders: false
